
/*
.button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
}
*/
.root{
    -fx-font-size: 16px;
    -fx-font-family: "Times New Roman"; /*Courier New */
    -fx-base: #ffffff;
    -fx-background: #3399ff;
}



.check-box {
    -fx-color: white;
}

#warnings {
	-fx-color: red;
}
